@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* primary colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* neutral colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

footer { 
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 11px; 
    text-align: center;
}
    
footer a { 
    color: hsl(228, 45%, 44%); 
}