@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* primary colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* neutral colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --pale-purple: hsl(243, 85%, 68%);
}

body {
    margin: auto;
    background: var(--pale-blue) url(./images/pattern-background-desktop.svg) no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: var(--desaturated-blue);
}

main {
    display: flex;
    height: 100vh;
    max-height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    line-height: 26px;
}

h1 {
    font-size: 28px;
    font-weight: 900;
    color: var(--dark-blue);
}

strong {
    font-weight: 700;
    color: var(--dark-blue);
}

.summary-container {
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 25px 25px rgb(13 48 189 / 15%);
}

.summary-text {
    margin-bottom: 20px;
}

.summary-header {
    height: 220px;
}

.summary-header img {
    border-radius: 20px 20px 0 0;
}

.summary-content {
    padding: 25px 50px;
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 25px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
    margin-bottom: 30px;
}

.plan-icon {
    width: 48px;
    height: 48px;
}

.plan-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 2;
    text-align: left;
}

.plan-change {
    font-size: 14px;
    font-weight: 700;
}

.plan-change a {
    color: var(--bright-blue);
}

.plan-change a:hover, .plan-change a:active {
    color: var(--pale-purple);
    text-decoration: none;
    transition: 0.1s;
}

.proceed {
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--bright-blue);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 20px 20px rgb(56 42 225 / 19%);
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

.proceed:hover, .proceed:active {
    background-color: var(--pale-purple);
    transition: 0.1s;
}

.cancel {
    font-size: 15px;
    font-weight: 700;
}

.cancel a {
    color: var(--desaturated-blue);
    text-decoration: none;
}

.cancel a:hover, .cancel a:hover {
    color: var(--dark-blue);
    transition: 0.1s;
}

footer { 
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 11px; 
    text-align: center;
}
    
footer a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(./images/pattern-background-mobile.svg);
        font-size: 15px;
    }

    h1 {
        font-size: 22px;
    }
    
    .summary-container {
        width: 327px;
    }

    .summary-header {
        width: 327px;
        height: 160px;
    }

    .summary-header img {
        width: 100%;
    }

    .summary-content {
        padding: 10px 25px;
    }

    .summary-text {
        padding: 0 10px;
    }

    .plan-container {
        padding: 15px;
    }

    .plan-description {
        justify-content: center;
    }

    .plan-change {
        font-size: 13px;
    }
}
